.p-datatable .p-column-header-content {
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .p-datatable .p-column-header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .p-datatable .p-dropdown {
        width: 100% !important;
    }
}
