.p-calendar .p-datepicker-trigger {
  background-color: #9614d0;
  color: white;
  border-radius: 0 0.375rem 0.375rem 0;
  padding: 0.5rem;
  transition: background-color 0.2s ease;
  border: none;
}

.p-calendar .p-datepicker-trigger:hover {
  background-color: #660094;
}